# =========================
# Node (Frontend)
# =========================
node_modules/
dist/
.vite/
*.log

# =========================
# Python (Backend)
# =========================
venv/
__pycache__/
*.pyc
*.pyo

# =========================
# Environment variables
# =========================
.env

# =========================
# ML Models (VERY IMPORTANT)
# =========================
*.h5
*.keras
*.pt
*.pth

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Uploads / temp files
# =========================
uploads/